<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <script src="/js/jquery.min.js" ></script>
        <script src="/js/bootstrap.min.js" ></script>
        <script src="/js/jquery.inputmask.bundle.js" ></script>
    </head>
    <body>
        {% block body %}

            {#{{ dump(app) }}#}



            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}



        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
