{% extends 'base.html.twig' %}

{% block title %}Перечень обращений{% endblock %}

{% block body %}

<div class="content">
    <h1>Перечень обращений</h1>

    <div>
        <a href="{{ path('feedback_index') }}">Все обращения</a>
        <a href="{{ path('feedback_statistics') }}">Статистика по темам</a>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Тема</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedback %}
            <tr>
                <td>{{ feedback.id }}</td>
                <td>{{ feedback.name }}</td>
                <td>{{ feedback.surname }}</td>
                <td>{{ feedback.partronymic }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.phoneNumber }}</td>
                <td>{{ feedback.theme }}</td>
                <td>
                    <a href="{{ path('feedback_edit', {'id': feedback.id}) }}">edit</a>

                    {{ include('feedback/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
