{% extends 'base.html.twig' %}

{% block title %}Новое обращение {% endblock %}

{% block body %}


    <div class="content">
        <h1>Создать обращение</h1>

        <div>
            {% for msg in app.session.flashBag.get('info') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
        </div>


        <div class="col-md-12">

            <div>
                <a href="{{ path('feedback_index') }}">Все обращения</a>
                <a href="{{ path('feedback_statistics') }}">Статистика по темам</a>
            </div>

            {{ include('feedback/_form.html.twig') }}
            {#{{ form_start(form) }}#}
            {#{{ form_widget(form) }}#}
            {#<button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>#}
            {#{{ form_end(form) }}#}

        </div>
    </div>

    <script>


        $(document).ready(function () {

            console.log('Hello!');
            $('#feedback_phoneNumber').inputmask("+38(099) 999 99 99");

            $('#feedback_email').inputmask({
                mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]",
                greedy: false,
                onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("mailto:", "");
                },
                definitions: {
                    '*': {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                        casing: "lower"
                    }
                }
            });

        });

    </script>
{% endblock %}
