{% extends 'base.html.twig' %}

{% block title %}Статистика обращений по темам {% endblock %}

{% block body %}

<div class="content">
    <h1>Статистика обращений по темам</h1>

    <div>
        <a href="{{ path('feedback_index') }}">Все обращения</a>
        <a href="{{ path('feedback_statistics') }}">Статистика по темам</a>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Тема</th>
                <th>Количество обращений</th>
            </tr>
        </thead>
        <tbody>
        {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.title }}</td>
                <td>{{ feedback.cnt }}</td>
        {% else %}
            <tr>
                <td colspan="2">нет тем</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
